body
{
    position: relative;
    overflow-y: scroll;
}


@media (min-width:991.98px)
{
    .navbar-menu 
    {
        display: flex;
        justify-content: flex-end;
        align-items: center; 
    }
    .logo-portifolio
    {
        width: 10vw;
    }
    #my-photo
    {
        width: 15vw;
        height: 25vh;
    }
    .balao2{
        background: rgb(51, 209, 19);
        border-radius: 15px;
        width: 12%;
        height: 80px;
        color: white;
        position: relative;
        padding: .5vw .5vw .5vw 1.3vw;
        position: fixed;
        bottom: 11vh;
        right: 2vw;
        z-index: 1000;
        visibility: hidden;
    }
    .balao2:after{
    
        content: "Entre em contato pelo whatsapp!";
    
        width: 0;
        height: 0;
    
        position: absolute;
    
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid rgb(51, 209, 19);
    
        bottom: -20px;
        left: 80%;
    }
}

@media (max-width:991.98px)
{
    .navbar-menu 
    {
        margin-left: 1%;
        display: block;
    }
    .logo-portifolio
    {
        visibility: hidden;
        display: none;
    }
}

.bg-navbar-menu 
{ 
    background-color: rgba( 255, 255, 255, .5) !important; 
    white-space: nowrap;
}

.header-img
{ 
    width: 100%;
    height: 100%;
    background-image: url(ger.jpg); 
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.primary-container-img 
{
    height: 100vh;
    padding: 35vh 0 0 5vw;
    text-align: center;
}

.transicao-frase.title
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:5vh;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-right: 2vw;
}

.transicao-frase.content
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:3vh;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-right: 2vw;
    overflow: hidden;
    visibility: hidden;
}

.transicao-frase.title:after{
    content: '|';
    margin-left: 5px;
    opacity: 0;
    animation: pisca 4s;
   }

.transicao-frase.content:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}

/* Animação aplicada ao content referente a classe *.transicao-frase.content* resultando num efeito de cursor piscando. */
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.whatapp-link
{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 2vh;
    right: 2vw;
    z-index: 1000;
    visibility: hidden;
}

footer
{
    text-align: center;
}
